@import "tailwindcss";
@plugin '@tailwindcss/typography';

@custom-variant dark {
  @media (prefers-color-scheme: dark) {
    &:not(.light *) {
      @slot;
    }
  }
  &:is(.dark *) {
    @slot;
  }
}

@theme {
  --color-*: initial;
  --color-transparent: transparent;

  --color-black-1: hsla(0, 0%, 0%, 0.05);
  --color-black-2: hsla(0, 0%, 0%, 0.1);
  --color-black-3: hsla(0, 0%, 0%, 0.15);
  --color-black-4: hsla(0, 0%, 0%, 0.2);
  --color-black-5: hsla(0, 0%, 0%, 0.3);
  --color-black-6: hsla(0, 0%, 0%, 0.4);
  --color-black-7: hsla(0, 0%, 0%, 0.5);
  --color-black-8: hsla(0, 0%, 0%, 0.6);
  --color-black-9: hsla(0, 0%, 0%, 0.7);
  --color-black-10: hsla(0, 0%, 0%, 0.8);
  --color-black-11: hsla(0, 0%, 0%, 0.9);
  --color-black-12: hsla(0, 0%, 0%, 1);

  --color-white-1: hsla(0, 0%, 100%, 0.05);
  --color-white-2: hsla(0, 0%, 100%, 0.1);
  --color-white-3: hsla(0, 0%, 100%, 0.15);
  --color-white-4: hsla(0, 0%, 100%, 0.2);
  --color-white-5: hsla(0, 0%, 100%, 0.3);
  --color-white-6: hsla(0, 0%, 100%, 0.4);
  --color-white-7: hsla(0, 0%, 100%, 0.5);
  --color-white-8: hsla(0, 0%, 100%, 0.6);
  --color-white-9: hsla(0, 0%, 100%, 0.7);
  --color-white-10: hsla(0, 0%, 100%, 0.8);
  --color-white-11: hsla(0, 0%, 100%, 0.9);
  --color-white-12: hsla(0, 0%, 100%, 1);

  --color-blue-1: #fbfdff;
  --color-blue-2: #f4faff;
  --color-blue-3: #e6f4fe;
  --color-blue-4: #d5efff;
  --color-blue-5: #c2e5ff;
  --color-blue-6: #acd8fc;
  --color-blue-7: #8ec8f6;
  --color-blue-8: #5eb1ef;
  --color-blue-9: #0090ff;
  --color-blue-10: #0588f0;
  --color-blue-11: #0d74ce;
  --color-blue-12: #113264;

  --color-blue-dark-1: #0d1520;
  --color-blue-dark-2: #111927;
  --color-blue-dark-3: #0d2847;
  --color-blue-dark-4: #003362;
  --color-blue-dark-5: #004074;
  --color-blue-dark-6: #104d87;
  --color-blue-dark-7: #205d9e;
  --color-blue-dark-8: #2870bd;
  --color-blue-dark-9: #0090ff;
  --color-blue-dark-10: #3b9eff;
  --color-blue-dark-11: #70b8ff;
  --color-blue-dark-12: #c2e6ff;

  --font-sans: "Geist Sans", monospace;

  --background-image-texture-white: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='white' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  --background-image-texture-black: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='black' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    font-family: "Space Mono", monospace;
  }

  /* Setting a global color for the borders */
  * {
    @apply border-black-4 dark:border-white-4;
  }

  html {
    ::-webkit-scrollbar {
      width: 8px;
    }

    ::-webkit-scrollbar-track {
      background-color: var(--color-black-2);
    }

    ::-webkit-scrollbar-thumb {
      background-color: var(--color-black-2);
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: var(--color-black-4);
    }

    &:is(.dark) {
      ::-webkit-scrollbar {
        width: 8px;
      }

      ::-webkit-scrollbar-track {
        background-color: var(--color-white-2);
      }

      ::-webkit-scrollbar-thumb {
        background-color: var(--color-white-2);
      }

      ::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-white-4);
      }
    }

    @media (prefers-color-scheme: dark) {
      ::-webkit-scrollbar {
        width: 8px;
      }

      ::-webkit-scrollbar-track {
        background-color: var(--color-white-2);
      }

      ::-webkit-scrollbar-thumb {
        background-color: var(--color-white-2);
      }

      ::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-white-4);
      }

      &:is(.light) {
        ::-webkit-scrollbar {
          width: 8px;
        }

        ::-webkit-scrollbar-track {
          background-color: var(--color-black-2);
        }

        ::-webkit-scrollbar-thumb {
          background-color: var(--color-black-2);
        }

        ::-webkit-scrollbar-thumb:hover {
          background-color: var(--color-black-4);
        }
      }
    }
  }

  pre:is(.light) {
    ::-webkit-scrollbar {
      width: 8px;
    }

    ::-webkit-scrollbar-track {
      background-color: var(--color-black-2);
    }

    ::-webkit-scrollbar-thumb {
      background-color: var(--color-black-2);
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: var(--color-black-4);
    }
  }
}

.lucide {
  stroke-width: 1.5;
}

